<a href="https://colab.research.google.com/github/Marinto-Richee/Amazon-ML-Challenge-2023/blob/main/Amazon_ML_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget https://s3-ap-southeast-1.amazonaws.com/he-public-data/datasetb2d9982.zip -O data.zip
!unzip data.zip

--2023-04-21 14:24:57--  https://s3-ap-southeast-1.amazonaws.com/he-public-data/datasetb2d9982.zip
Resolving s3-ap-southeast-1.amazonaws.com (s3-ap-southeast-1.amazonaws.com)... 52.219.164.54
Connecting to s3-ap-southeast-1.amazonaws.com (s3-ap-southeast-1.amazonaws.com)|52.219.164.54|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 895569552 (854M) [binary/octet-stream]
Saving to: ‘data.zip’

data.zip            100%[===================>] 854.08M  16.5MB/s    in 55s

2023-04-21 14:25:52 (15.6 MB/s) - ‘data.zip’ saved [895569552/895569552]

Archive:  data.zip
replace dataset/sample_submission.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace dataset/train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace dataset/test.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

In [2]:
import pandas as pd
train_data=pd.read_csv("/content/dataset/train.csv")
train_data=train_data.dropna()

train_data=train_data.iloc[:10000,:]

In [3]:
train_data.isnull().sum()

PRODUCT_ID         0
TITLE              0
BULLET_POINTS      0
DESCRIPTION        0
PRODUCT_TYPE_ID    0
PRODUCT_LENGTH     0
dtype: int64

In [ ]:
import spacy
nlp = spacy.load('en_core_web_sm')
count=0
for i in range(10000):
  if count%1000==0:
    print('Completed: ',count)
    print(train_data["TITLE"].iloc[i])
  train_data["TITLE"].iloc[i]=nlp(str(train_data["TITLE"].iloc[i])).vector
  count+=1

count=0
for i in range(10000):
  if count%1000==0:
    print('Completed: ',count)
    print(train_data["DESCRIPTION"].iloc[i])
  train_data["DESCRIPTION"].iloc[i]=nlp(str(train_data["DESCRIPTION"].iloc[i])).vector
  count+=1

count=0
for i in range(10000):
  if count%1000==0:
    print('Completed: ',count)
    print(train_data["BULLET_POINTS"].iloc[i])
  train_data["BULLET_POINTS"].iloc[i]=nlp(str(train_data["BULLET_POINTS"].iloc[i])).vector
  count+=1

In [5]:
train_data.to_csv('my_data_10000.csv', index=False)
train_data.head()

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
2,2765088,"[-0.120817296, -0.6034473, 0.18210436, 0.39672...","[-0.056971382, -0.398389, 0.1772821, 0.0717490...","[-0.2089277, -0.31105655, -0.29244918, 0.13836...",7537,748.031495
3,1594019,"[-0.30172753, -0.32829326, -0.26941085, 0.1988...","[-0.06048255, -0.29669142, -0.07257859, 0.0846...","[-0.17939621, -0.38716075, 0.16399534, 0.09791...",2996,787.401574
5,2152929,"[-0.26320964, -0.486768, -0.26648563, 0.552244...","[0.112959474, -0.29354924, 0.045245305, -0.016...","[0.039914962, -0.22128348, 0.021789834, -0.006...",5725,950.000000
7,2026580,"[-0.408034, -0.5665321, -0.44239488, 0.0662604...","[0.028209824, -0.3205527, 0.064783745, 0.02600...","[0.0662049, -0.34979975, -0.03238398, -0.04404...",6030,984.251967
9,2998633,"[-0.2259436, -0.45449623, -0.28332806, 0.28095...","[0.12393233, -0.1832851, -0.30621356, 0.077562...","[-0.022112051, -0.16617824, -0.22733752, 0.024...",8201,393.700787

In [11]:
print("PRODUCT_ID: ",train_data["PRODUCT_ID"].nunique())
print("PRODUCT_TYPE_ID: ",train_data["PRODUCT_TYPE_ID"].nunique())
print("PRODUCT_LENGTH: ",train_data["PRODUCT_LENGTH"].nunique())

PRODUCT_ID:  10000
PRODUCT_TYPE_ID:  2416
PRODUCT_LENGTH:  1248